<footer class="footer">
  <div class="container">
    <div id="footer-info" class="inner">
      <span>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></span><br>
      <span>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></span>
      <span>& Theme by <a href="https://github.com/ZMOM1031/hexo-theme-cyborg-blog" target="_blank">Cyborg-Blog</a></span>
    </div>
  </div>
</footer>
