<% if (theme.social){ %>
  <div id="widget-social" class="widget">
    <div class="list-group">
      <h4 class="list-group-item active"><%= __('connect') %></h4>
        <div class="btn-toolbar">
        <div class="btn-group">
          <a href="http://twitter.com" class="btn btn-default" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="http://plus.google.com" class="btn btn-default" title="Google+"><i class="fa fa-google-plus-official fa-2x"></i></a>
          <a href="http://pinterest.com" class="btn btn-default" title="Pinterest"><i class="fa fa-pinterest fa-2x"></i></a>
          <a href="http://flickr.com" class="btn btn-default" title="Flickr"><i class="fa fa-flickr fa-2x"></i></a>
          <a href="http://instagram.com" class="btn btn-default" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
        </div>
    </div>
  </div>
<% } %>